<a
  class="list-group-item clearfix">
  <div class="container">
    <table class="table borderless">
      <tr>
        <td class="col-md-6">
          <p class="post-card-header"><b>{{post.title}}</b></p>
        </td>
        <td class="col-md-6 pull-right">
          <a routerLink="/posts/{{post._id}}"
             class="btn btn-info">
            Info
          </a>
        </td>
      </tr>
      <tr>
        <td class="col-md-6">
          <p>Tag: <b>{{post.tag}}</b></p>
          <p>Posted on {{post.created_at | date: 'd/MM/yyyy HH:mm'}}</p>

        </td>
        <td class="col-md-6 pull-right">
          <a routerLink="/posts/{{post._id}}/edit"
             class="btn btn-warning">
            Edit
          </a>
        </td>
      </tr>
    </table>
  </div>
</a>
