<a
  class="list-group-item clearfix">
  <div class="container">
    <table class="table borderless">
        <tr>
          <td class="col-md-6">
            <p class="cardUserheader"><b>{{user.userName}}</b></p>
          </td>
          <td class="col-md-6 pull-right">
            <a routerLink="/users/{{user._id}}"
               class="btn btn-info">
              Info
            </a>
          </td>
        </tr>
        <tr>
          <td class="col-md-6">
            {{user.firstName}} <span> </span> {{user.lastName}}
          </td>
          <td class="col-md-6 pull-right">
            <a routerLink="/users/{{user._id}}/edit"
               class="btn btn-warning">
              Edit
            </a>
          </td>
        </tr>
    </table>
  </div>
</a>
